<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="loading"></div>
	<div class="wrap">
		<header id="main-word"></header>
		<div class="left">
			<section class="definition">
				<div class="section-title">Definitions</div>
				<ol id="definitions"></ol>
			</section>
			<section class="example">
				<div class="section-title">Examples</div>
				<ul id="examples"></ul>
				<a class="more" href="http://www.wordnik.com/word-of-the-day" target="_blank" title="View more examples on Wordnik">more...</a>
			</section>
		</div>
		<aside class="sidebar">
			<div class="title">Note</div>
			<article id="notes"></article>
		</aside>
		<footer class="clear">
			Powered By <a href="http://wordnik.com" target="_blank"><img src="images/wordnik.png" alt="Wordnik" /></a>
		</footer>
	</div>
	
	<!-- Templates -->
	<script id="definition-tmpl" type="text/x-jquery-tmpl">
		<li>
			<span class="part-of-speech">${partOfSpeech}</span>
			<span class="text">${$item.get_raw()}</span>
		</li>
	</script>
	<script id="example-tmpl" type="text/x-jquery-tmpl">
		<li>
			<span class="text">{{html $item.marked()}}</span>
			<a href="${url}" class="source">${title}</a>
		</li>
	</script>
	<script id="word-tmpl" type="text/x-jquery-tmpl">
		<span class="word">
		{{if hyphenation.length}} ${hyphenation} {{else}} ${word} {{/if}}
		</span>
		{{if pronunciation.length}}
		<span class="pronunciation">[${pronunciation}]</span>
		{{/if}}
		<aside class="words-with-friends" title="Words with Friends score">
            <div class="wwf-icon">W</div><div class="wwf-score">${score}</div>
        </aside>
	</script>
	<!-- End of Templates -->
	
	<script type="text/javascript" src="js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="js/libs/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	<script type="text/javascript" src="js/wordlover.js"></script>
	<script type="text/javascript">
		function content_loaded() {
			$(".loading").fadeOut(500);
		};
		
		$(function() {
			WebFont.load({
				google: { families: ['Open Sans', 'Unna', 'Ubuntu'] }
			});
			
			wlce.assemble(new Date(), function(w) {
				$("#word-tmpl").tmpl(w).appendTo("#main-word");
				
				$("#example-tmpl").tmpl(w.examples, {
					marked: function() {
						var wd = w.word, re = new RegExp(wd, "gi");
						return this.data.text.replace(re, "<mark>" + wd + "</mark>");
					}
				}).appendTo("#examples");
				
				$("#definition-tmpl").tmpl(w.definitions, {
					get_raw: function() {
						var re = /^\(\w+\)\s*/gi;
						re.exec(this.data.text);
						return this.data.text.substring(re.lastIndex);						
					}
				}).appendTo("#definitions");
				$("#notes").text(w.note);
				content_loaded();
			});
		});
	</script>
</body>
</html>